Flask==0.10.1
Flask-Cache==0.12
Flask-Script==0.6.7
Jinja2==2.7.2
MarkupSafe==0.19
MySQL-python==1.2.5
WTForms==1.0.5
Werkzeug==0.9.4
docopt==0.6.1
flask-peewee==0.6.5
itsdangerous==0.24
peewee==2.2.2
wsgiref==0.1.2
wtf-peewee==0.2.3
yoyo-migrations==4.2.4
